
*.data
*.vbs
*.sml
*.mot
*.da2
*.dat
*.bh
*.wnd
*.da1
*.MSolverData
*.sol
*.res
*.fct
*.tmp
*.fld
*.sd
*.semaphore
*.asol
*.asol_priv
*.profile
*.2dmd
*.msh
*.obs
*.edg
*.lst
*.sstr
*.str
Project-3/im.aedtresults/Maxwell2DDesign1.results/DV56_SOL55_V102.Field101/solvedhc
*.txt
Project-3/im.aedtresults/Maxwell2DDesign1.results/DV56_SOL55_V102.Field101/fixedpm
*.vls
*.amo
*.ctrf
*.hdr
*.lock
